database:
  url: jdbc:sqlite:../oasis-ledger-db/build/oasis-ledger-core.db

logging:
  level: INFO
  loggers:
    oasisledger: DEBUG
  appenders:
    - type: console
      target: stdout
      threshold: INFO
    - type: file
      currentLogFilename: ./log/oasis-ledger-server.log
      archivedLogFilenamePattern: ./log/oasis-ledger-server.log.%d
      archivedFileCount: 100
      threshold: INFO
    - type: file
      currentLogFilename: ./log/oasis-ledger-server-debug.log
      archivedLogFilenamePattern: ./log/oasis-ledger-server-debug.log.%d
      archivedFileCount: 100
      logFormat: "%date %level [%thread] %logger{32} [%file:%line] %msg%n"

server:
  type: simple
  rootPath: /api/
  applicationContextPath: /app
  adminContextPath: /admin
  connector:
    type: http
    port: 8081
  registerDefaultExceptionMappers: false
