database:
  driverClass: org.sqlite.JDBC
  url: jdbc:sqlite:../oasis-ledger-db/build/oasys-ledger-core.db
  properties:
    open_mode: 2 # SQLITE_OPEN_READWRITE, do not create if not exists

logging:
  level: INFO
  loggers:
    oasisledger: DEBUG
  appenders:
    - type: console
      target: stdout
    - type: file
      currentLogFilename: ./log/oasis-ledger-server.log
      archivedLogFilenamePattern: ./log/oasis-ledger-server.log.%d
      archivedFileCount: 100

server:
  type: simple
  rootPath: /api/
  applicationContextPath: /app
  adminContextPath: /admin
  connector:
    type: http
    port: 8081
  registerDefaultExceptionMappers: false
