:root {
  --oasisledger-color-primary-dark: #ffa000;
  --oasisledger-color-primary-light: #ffecb3;
  --oasisledger-color-primary: #ffc107;
  --oasisledger-color-text: #212121;
  --oasisledger-color-accent: #03a9f4;
  --oasisledger-color-primary-text: #212121;
  --oasisledger-color-secondary-text: #757575;
  --oasisledger-color-divider: #dee2e6;
}
body {
  color: var(--oasisledger-color-text);
  font-family: 'Roboto', sans-serif;
}
.oasisledger-root > header {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 16px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px 0px inset;
}
.oasisledger-brand {
  color: var(--oasisledger-color-accent);
  text-decoration: none;
  white-space: nowrap;
}
.oasisledger-brand:hover {
  color: var(--oasisledger-color-accent);
}
