:root {
  --oasisledger-color-primary-dark: #ffa000;
  --oasisledger-color-primary-light: #ffecb3;
  --oasisledger-color-primary: #ffc107;
  --oasisledger-color-text: #212121;
  --oasisledger-color-accent: #03a9f4;
  --oasisledger-color-primary-text: #212121;
  --oasisledger-color-secondary-text: #757575;
  --oasisledger-color-divider: #dee2e6;
}
body {
  color: var(--oasisledger-color-text);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.alert {
  overflow-wrap: break-word;
}

.oasisledger-root {
  padding-top: 55px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
.oasisledger-root > header {
  height: 55px;
  margin-top: -55px;
  position: relative;
  box-shadow: 4px 0 4px #e5e5e5; /* grey90 */
}
.oasisledger-logo {
  background-color: #fff;
  border-right: 1px solid var(--oasisledger-color-divider);
  font-size: 1.25rem;
  line-height: 55px;
  overflow-x: hidden;
  position: absolute;
  transition: width .3s;
  width: 200px;
  z-index: 101;
}
.oasisledger-logo__content {
  min-width: 199px;
  text-align: center;
}
.oasisledger-logo-mobile {
  font-size: 1.25rem;
  line-height: 55px;
}
.oasisledger-navbar {
  display: flex;
  font-size: 21px;
  left: 0; right: 0;
  line-height: 55px;
  position: absolute;
}
.oasisledger-navbar__sidebar-toggle {
  border-right: 1px solid var(--oasisledger-color-divider);
  color: var(--oasisledger-color-secondary-text);
  line-height: 55px;
  padding: 0 1rem;
  margin-right: 1rem;
}
.oasisledger-navbar__sidebar-toggle:hover {
  color: var(--oasisledger-color-accent);
}

.oasisledger-content {
  min-height: 100%;
  position: relative;
}

.oasisledger-sidebar {
  background-color: #fff;
  border-right: 1px solid var(--oasisledger-color-divider);
  border-top: 1px solid var(--oasisledger-color-divider);
  box-shadow: 0 2px 4px #e5e5e5; /* grey90 */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: absolute;
  top: 0; bottom: 0;
  transition: width .3s;
  width: 200px;
  z-index: 100;
}
.oasisledger-sidebar__menu {
  min-width: 199px;
  padding: 12px 16px;
}
.oasisledger-sidebar__menu .nav {
  justify-content: center;
}
.oasisledger-sidebar__menu a {
  color: var(--oasisledger-color-secondary-text);
}
.oasisledger-sidebar__menu a:hover {
  color: var(--oasisledger-color-accent);
}
.oasisledger-sidebar__menu a.active,
.oasisledger-sidebar__menu a.active:hover {
  color: var(--oasisledger-color-primary-text);
}
.oasisledger-sidebar__content {
  min-width: 199px;
  overflow: hidden;
  white-space: nowrap;
}
.oasisledger-sidebar__tab {
  display: inline-block;
  min-width: 200px;
  max-width: 200px;
  white-space: normal;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  transition: margin .3s;
}
.oasisledger-sidebar__heading {
  font-size: .75rem;
  text-transform: uppercase;
  color: var(--oasisledger-color-secondary-text);
  padding: .5rem 0 0 16px;
}
.oasisledger-sidebar__nav a {
  padding-left: 13px; /* 16px - border */
  border-left: 3px solid transparent;
}
.oasisledger-sidebar__nav a.active {
  border-left: 3px solid var(--oasisledger-color-primary-dark);
}

.oasisledger-main {
  border-top: 1px solid var(--oasisledger-color-divider);
  left: 200px;
  margin-left: -200px;
  overflow-y: scroll;
  padding-left: 200px;
  position: absolute;
  top: 0; bottom: 0;
  width: 100%;
  transition: padding-left .3s, margin-left .3s;
}

@media (max-width: 992px) {
  .oasisledger-logo {
    width: 0;
  }
  .oasisledger-sidebar {
    width: 0;
  }
  .oasisledger-main {
    padding-left: 0;
  }
  .oasisledger-content--show-mobile-sidebar
  .oasisledger-sidebar {
    width: 200px;
  }
  .oasisledger-content--show-mobile-sidebar
  .oasisledger-main {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .oasisledger-post-form {
    max-width: 27rem;
  }
}

.oasisledger-account-input__dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  max-height: 60vh;
  overflow-y: auto;
  min-width: 100%;
}

.oasisledger-datepicker__dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.oasisledger-datepicker__weekday-label {
  display: inline-block;
  width: 2.375em;
  text-align: center;
  color: var(--secondary);
}
.oasisledger-datepicker__pick-button {
  width: 2.375em;
  padding: .375rem;
}


.oasisledger-postings-listing__date {
  min-width: 8em;
}
.oasisledger-postings-listing__amount {
  min-width: 9em;
}
@media (min-width: 576px) {
  .oasisledger-postings-listing__amount {
    text-align: right;
  }
}
@media (max-width: 575.98px) {
  .oasisledger-postings-listing .list-group-item .row:not(:first-child) {
    margin-top: .5em;
  }
  .oasisledger-postings-listing__statement {
    margin-left: 1em;
  }
}
